<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./libs/asciinema-player.css">
    <link rel="stylesheet" href="./libs/reveal.css">
    <script src="./libs/asciinema-player.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="./Comfortaa-VariableFont:wght.ttf"> -->
    <!-- <link rel="stylesheet" href="./fonts/Comfortaa-Regular.ttf">  -->
    <!-- <link rel="stylesheet" href="./fonts/Comfortaa-Bold.ttf"> -->

    <title>Prometheus Presentation Framework</title>

    <link rel="stylesheet" href="./libs/presentation.css">

</head>

<body>

    <div class='reveal' id='impress'>
        <div class='slides'>